.footer-main {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #1e1e2e, #3b3b5f, #1e1e2e);
  width: 100%;
}

.footer-main-text {
  color: #f8f8f2;
  margin-bottom: 0px;
}

.nav-link-footer {
  color: #f8f8f2;
  text-decoration: none;
  padding: 5px;
  transition: all ease 0.5s;
}

.list-inline {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 15px 0px 0px 0px;
}

.nav-link-footer:hover {
  color: black;
  background-color: #f8f8f2;
  padding: 6px;
  border-radius: 15px;
}
